body,
html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.background {
  background-image: url("../images/background1.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.blur {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  height: 100%;
  width: 100%;
}
