<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Algorithm</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<ul>
    <li>
        <a th:href="@{/logout}" class="logout">Logout</a>
    </li>
    <li>
        <a th:href="@{/homePage}">Home</a>
    </li>
    <li>
        <a class="active" th:href="@{/algorithmInput}">Algorithm</a>
    </li>
    <li>
        <a th:href="@{/userList}">Personal list</a>
    </li>
    <li>
        <a th:href="@{/allList}">Table of critters</a>
    </li>
    <li th:if="${user.role == T(CritterPicker.Enums.UserRole).ADMIN}">
        <a th:href="@{/admin/newSeaCreature}">Add new sea creature</a>
    </li>
    <li th:if="${user.role == T(CritterPicker.Enums.UserRole).ADMIN}">
        <a th:href="@{/admin/newBug}">Add new bug</a>
    </li>
    <li th:if="${user.role == T(CritterPicker.Enums.UserRole).ADMIN}">
        <a th:href="@{/admin/newFish}">Add new fish</a>
    </li>
</ul>

<div class="main">
    <h1>Critter Picker algorithm!</h1>
    <img th:src="@{/images/logo.png}" class="logo"/>
    <h2>Do you wan't to know what's the fastest current way to earn in game money? Or maybe you wan't to extends your museum collection?</h2>
    <h3>Then please fill up this small form and use our Critter Picker algorithm!</h3>
    <form th:action="@{/algorithmInput}" method="POST" enctype="multipart/form-data" th:object="${request}">
        <fieldset>
            <legend>Form:</legend>

            <label for="raining">Is it raining on the island today? </label>
            <input type="checkbox" id="raining" th:field="*{raining}"/><br/><br/>

            <label for="CJOnIsland">Is CJ on your island today? </label>
            <input type="checkbox" id="CJOnIsland" th:field="*{CJOnIsland}"/><br/><br/>

            <label for="option">What should our algorithm focus on? </label>
            <select name="option" id="option" th:field="*{option}" required>
                <option th:each="opt: ${T(CritterPicker.Enums.AlgorithmOption).values()}" th:value="${opt}" th:text="${opt}"> Option </option>
            </select><br/><br/>

            <input type="submit" value="Calculate"/><br/><br/>
            <a th:href="@{/homePage}" class="button">Cancel</a>
        </fieldset>
    </form>
</div>
</body>
</html>