<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of all critters</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
<div>
    <table>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Quote</th>
            <th>Location</th>
            <th>Price</th>
            <th>Rarity</th>
            <th>Shadow size</th>
            <th>Months</th>
            <th>Hours</th>
        </tr>
        <tr th:each="fish : ${fishes}">
            <th th:text="${fish.filename}"/>
            <th th:text="${fish.name}"/>
            <th th:text="${fish.quote}"/>
            <th th:text="${fish.location}"/>
            <th th:text="${fish.price}"/>
            <th th:text="${fish.rarity}"/>
            <th th:text="${fish.shadowSize}"/>
            <th th:text="${fish.monthListN}"/>
            <th th:text="${fish.hourList}"/>
        </tr>
    </table>
</div>

</body>
</html>