<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Sea Creature</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<ul>
    <li>
        <a th:href="@{/logout}" class="logout">Logout</a>
    </li>
    <li>
        <a th:href="@{/admin/homePage}">Home</a>
    </li>
    <li>
        <a th:href="@{/algorithmInput}">Algorithm</a>
    </li>
    <li>
        <a th:href="@{/userList}">Personal list</a>
    </li>
    <li>
        <a th:href="@{/admin/allList}">Table of critters</a>
    </li>
    <li>
        <a th:href="@{/admin/newSeaCreature}">Add new sea creature</a>
    </li>
    <li>
        <a th:href="@{/admin/newBug}">Add new bug</a>
    </li>
    <li>
        <a th:href="@{/admin/newFish}">Add new fish</a>
    </li>
</ul>

<div class="main">
    <h1>Edit a sea creature!</h1>
    <form th:action="@{/admin/editSeaCreature(id=${id})}" method="POST" enctype="multipart/form-data" th:object="${seaCreature}">
        <fieldset>
            <legend>Edit sea creature:</legend>
            <div th:if="${#fields.hasErrors()}">
                    <span class="error">
                        Please correct following errors:
                    </span><br/><br/>
            </div>

            <label for="name">Sea creature name: </label>
            <input type="text" id="name" th:field="*{name}" autofocus="autofocus"/><br/><br/>
            <div th:if="${#fields.hasErrors('name')}">
                <span class="error" th:errors="*{name}">
                    Name error
                </span><br/><br/>
            </div>
            <div th:if="${nameTaken}">
                <span class="error">
                    This name is already taken!
                </span><br/><br/>
            </div>

            <label for="file">Sea creature photo: </label>
            <input type="file" name="file" id="file" required accept="image/*"/><br/><br/>
            <div th:if="${filenameTaken}">
                <span class="error">
                    This filename is already taken! Please rename your file!
                </span><br/><br/>
            </div>

            <label for="price">Price: </label>
            <input type="number" id="price" th:field="*{price}"/><br/><br/>
            <div th:if="${#fields.hasErrors('price')}">
                <span class="error" th:errors="*{price}">
                    Price error
                </span><br/><br/>
            </div>

            <label for="rarity">Rarity: </label>
            <select name="rarity" id="rarity" th:field="*{rarity}" required>
                <option th:each="rarOpt: ${T(CritterPicker.Enums.Rarity).values()}" th:value="${rarOpt}" th:text="${rarOpt}"> Rarity </option>
            </select><br/><br/>

            <label for="shadow">Shadow size: </label>
            <select name="shadow" id="shadow" th:field="*{shadowSize}" required>
                <option th:each="shaOpt: ${T(CritterPicker.Enums.ShadowSize).values()}" th:value="${shaOpt}" th:text="${shaOpt}"> Shadow </option>
            </select><br/><br/>

            <label for="mlistN">Month list (northern hemisphere): </label>
            <select name="mlistN" id="mlistN" th:field="*{monthListN}" multiple required>
                <option th:each="monOpt: ${T(CritterPicker.Enums.Months).values()}" th:value="${monOpt}" th:text="${monOpt}"> Month list N </option>
            </select><br/><br/>

            <label for="hlist">Hour list: </label>
            <select name="hlist" id="hlist" th:field="*{hourList}" multiple required>
                <option th:each="i : ${#numbers.sequence(0, 23)}" th:value="${i}" th:text="|${i}:00 - ${i+1}:00|"> Hour list </option>
            </select><br/><br/>

            <input type="submit" value="Edit"/><br/><br/>
            <a th:href="@{/admin/allList}" class="button">Cancel</a>
        </fieldset>
    </form>
</div>
</body>
</html>