<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
    <div class="background">
        <div class="blur">
            <h1>Welcome to Critter Picker!</h1>
            <h2>Critter Picker is site for all you Animal Crossing: New Horizons lovers!</h2>
            <div>See the lists of all critters
                <a th:href="@{/allList}">click</a>
            </div>
            <div>See personal critters
                <a th:href="@{/user/list}">click</a>
            </div>
            <div>Use algorithm
                <a th:href="@{/algorithm}">click</a>
            </div>
        </div>
    </div>
<div>
    
</div>
</body>
</html>