<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div class="main">
    <h1>Welcome to Critter Picker!</h1>
    <img th:src="@{/images/logo.png}" class="logo"/>
    <form th:action="@{/login}" method="post">
        <fieldset>
            <legend>Please Login:</legend>
            <div th:if="${param.error}">
                <span class="error">
                    Login attempt unsuccessful!
                </span><br/><br/>
            </div>
            <div th:if="${param.logout}">
                <span class="error">
                    You have been logged out.
                </span><br/><br/>
            </div>
            <label for="username">Username: </label>
            <input type="text" id="username" name="username" autofocus/><br/><br/>
            <label for="password">Password: </label>
            <input type="password" id="password" name="password"/><br/><br/>
            <div>
                <input type="submit" value="Login"/>
            </div>
        </fieldset>
    </form>
    <p>New here?
        <a th:href="@{/register}" class="button">Register</a>
    </p>
    <p>Trouble with confirming email address?
        <a th:href="@{/register/sendAgain}" class="button">Click here!</a>
    </p>
</div>

</body>
</html>